html{
font-size: 16px;
}

head{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Eczar&display=swap" rel="stylesheet">
}

body{

color: #E8F2D5;
margin: 0rem, auto;
background-image: url(/img/claybackground.png);
}


header {
    height: 7.5rem;
    width margin: 1rem;
    
    background-color: #3C5148;
display:flex;
align-items: center;
justify-content: space-between;
}

h1{
    color: #E8F2D5;

font-family: Young Serif;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h2{
    color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-family: 'Eczar', serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
}

main{

}

section {
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    grid-column: 12;

}

footer{
background-color: #3C5148;
display: flex;
align-items: center;
justify-content: space-between;
}

.selected{
    text-decoration: dotted;
}

#Byline{
    text-align: center;
    grid-column: 2/12;
}

.img {
    grid-column-start: 6;
}

.splash {
    background-image: url(/img/felt.jpg);
}

a{
    color: #E8F2D5;
    text-decoration: none;
    margin: 0 0 0 2rem;
    grid-column-start: 6;
}
 


.bodytext{
    grid-column-start: 3;
    grid-column-end: 12;
    
}