@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Young+Serif&display=swap');
html{
font-size: 16px;
}




body{

color: #E8F2D5;
margin: 0rem, auto;
background-image: url(/img/Untitled-1.png);
}


header {
    height: 7.5rem;
    width margin: 1rem;
    
    background-color: #3C5148;
display:flex;
align-items: center;
justify-content: space-between;

}

h1{
    color: #E8F2D5;

font-family: 'Young Serif';
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h2{
    color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

font-family: 'Eczar', serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
}

main{

}

section {
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    grid-column: 12;

}

footer{
    
background-color: #3C5148;
display: flex;
align-items: center;
justify-content: space-between;
}

.selected{
    text-decoration: dotted;
}

#Byline{
    text-align: center;
    grid-column: 2/12;
}

.img {
    grid-column-start: 6;
}
.container {
    grid-column-start: 6;
    position: relative;

  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3C5148;
  }
  .container:hover .overlay {
    opacity: 70%;
  }
  
  .text {
    font-family: 'Young Serif';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

a{
    color: #E8F2D5;
    text-decoration: none;
    margin: 0 0 0 2rem;
    grid-column-start: 6;
}
 


.bodytext{
    grid-column-start: 3;
    grid-column-end: 12;
    
}